@import 'the-new-css-reset/css/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    // background-color: black;
    background-color: var(--CREAM-CARMEN);
  }

  :root {
    --RED-CARMEN: #780000;
    --CREAM-CARMEN: #fff7e7;
    --BLACK-CARMEN: #0f0404;
  }

  @font-face {
    font-family: Thunder;
    src: url('../../public/fonts/ThunderVF.ttf');
  }

  @font-face {
    font-family: ThunderLC;
    src: url('../../public/fonts/Thunder-LC.ttf');
  }

  @font-face {
    font-family: Softgank;
    src: url('../../public/fonts/Softgank.ttf');
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.inline-fix {
  max-inline-size: none !important;
}

.top-y {
  top: calc(-100vh + 170px);
  @media screen and (min-width: 530px) and (max-width: 768px) {
    top: calc(-100vh + 200px);
  }
}

.break {
  word-wrap: break-word;
}

.bg-size {
  background-size: 100%;
}

.bg-videos-y {
  background-position-y: 0px;
}

em {
  @apply italic;
}

.galerie_grid {
  grid-template-columns: repeat(2, minmax(0, 200px));
  grid-auto-rows: minmax(200px, 280px);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 300px));
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 250px));
  }
}

.dynamic_grid {
  @media screen and (max-width: 768px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 65px;
  }

  margin-top: -145px;
}
