@tailwind base;
@tailwind components;
@tailwind utilities;
@import "the-new-css-reset/css/reset.css";

@layer base {
  body {
    background-color: black;
    // background-color: var(--CREAM-CARMEN);
  }

  :root {
    --RED-CARMEN: #780000;
    --CREAM-CARMEN: #fff7e7;
    --BLACK-CARMEN: #0f0404;
  }

  @font-face {
    font-family: Thunder;
    src: url("../../public/fonts/ThunderVF.ttf");
  }

  @font-face {
    font-family: Softgank;
    src: url("../../public/fonts/Softgank.ttf");
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.inline-fix {
  max-inline-size: none !important;
}

.bg-y {
  background-position-y: calc(-100vh + 320px);
}
