@import "the-new-css-reset/css/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    // background-color: black;
    background-color: var(--CREAM-CARMEN);
  }

  :root {
    --RED-CARMEN: #780000;
    --CREAM-CARMEN: #fff7e7;
    --BLACK-CARMEN: #0f0404;
  }

  @font-face {
    font-family: Thunder;
    src: url("../../public/fonts/ThunderVF.ttf");
  }

  @font-face {
    font-family: ThunderLC;
    src: url("../../public/fonts/Thunder-LC.ttf");
  }

  @font-face {
    font-family: Softgank;
    src: url("../../public/fonts/Softgank.ttf");
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.inline-fix {
  max-inline-size: none !important;
}

.top-y {
  top: calc(-100vh + 230px);
}

.break {
  word-wrap: break-word;
}

.bg-size {
  background-size: 100%;
}

.bg-videos-y {
  background-position-y: 0px;
}
